body {
    text-align: center;
    background-color: rgb(193, 193, 193); /* Cambia el color de fondo a naranja */
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: rgb(9, 9, 9);
  }
  
  input, button {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #0074c4;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00598c;
  }
  
  p {
    font-size: 20px;
    color: rgb(255, 46, 46);
  }
  
  #result {
    font-weight: bold;
    font-size: 24px;
  }
  